.vc-ranb-button {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 0 auto 4px !important;
    color: white !important;
    padding: 4px 0;
    width: 48px;
    height: 24px;
    font-size: 10px;
    font-weight: 700;
    white-space: nowrap;
    box-sizing: border-box;
    background: #23a55a !important;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background 0.15s;
}

.vc-ranb-button:hover {
    background: #1a8f4e !important;
}
